/*************************************
COLOURS



font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;


*************************************/


/*************************************
HEADER
*************************************/

header {
	padding: 10px 0%;
}




/* 


FOR AN IMAGE LOGO:;
#logo {
	display: flex;
	height: 60px;
	max-width: 520px;
}




sticky header 
    position:fixed;
    z-index: 100;
------------------*/

/*************************************
NAVIGATION
*************************************/

.navigation {
	display: flex;
	justify-content: space-between;
	align-items:baseline;
	padding: 0 0 0 35px;
}


nav ul {
	display: flex;
}

ul {
	list-style: none;
	padding: 0;
}

/* page links */
.main-nav {
	padding: 0px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .825em;
}


a {
	text-decoration: none;
	color: #3B687F;
	font-weight: 400;
}


a a:focus {
   outline: none;
}


a:hover {
	color: #CB6E56;
}




/*************************************
GENERAL
*************************************/

.wrapper {
	display: flex;
	justify-content: center;
}




/* images */
img {
	max-width: 100%;
}



/* album title */
p.title {
	font-family:'Roboto', sans-serif;
	padding-bottom: 20px;
	margin-top: 0px;
}




/* site body */


body{
 	font-family: 'Roboto', sans-serif;
 	background-color: #EEEAE0;
 	font-weight: 300;
 	line-height: 1.5;
	padding: 0 10%;
}



p {
	font-weight: 300;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	text-align: left;
}



h1 {
	font-size: 1.75em;
	font-family: 'Oswald', sans-serif;
	padding: 20px 0 0 0;
	text-align: left;
	letter-spacing: 2px;
	color: #718294;
	font-weight: 300;
	text-transform: uppercase;
}



#subhead {	
	font-size: 1.5em;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
	color: #718294;
	font-weight: 300;
}



h2 {
	font-size: 1.55em;
	font-family: 'Oswald', sans-serif;
	text-align: left;
	letter-spacing: 1px;
	color: #718294;
	font-weight: 300;
}



h4 {
	font-size: 2.5em;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	color: #718294;
	padding: 0px 10px;
}


#artist, #client{
	font-size: .75em;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0px;
}



/*************************************
SOUNDCLOUD
*************************************/

.soundcloud {
	justify-content: center;
	margin: 0px 0px 10px 0px;
	max-width: 900px;
}


/*************************************
BANDCAMP
*************************************/

#bandhead {
	margin: 25px 0px 0px 0px;
	text-align: center;
}

.title, {
	text-align: left;
}




.bandcamp {
	display: flex;
	flex-direction: column;
	margin: 30px 5% 10px;
}	

 #gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 30px 0px 20px 0px;
 }


.album {
	width: 27%;
	min-width: 200px;
}




/*************************************
VIDEO & EVENTS
*************************************/



#wrapper {
	display: flex;
	flex-direction: column;
	margin: 30px 5% 10px;
}	

#videos, #events  {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 30px 0px 0px 0px;
 }


.media {
	padding: 0;
	min-width: 580px;
	min-height: 310px;
}

.facebook {
}

/** #videos, #events  {
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 20px;
	text-align: auto;
}**/










/*************************************
PAGE ABOUT
*************************************/


#about {
margin: auto;
text-align: center;
}


#bio{
max-width: 720px;
}


#biopic {
 max-width: 720px;
 height: auto;
 padding: 20px 0 0 0;
}



/*************************************
FOOTER
*************************************/

footer {
	font-size: 0.75em;
	text-align: center;
	padding-top: 25px;
	color: #23374C;
}

.social-icon {
	height: 25px;
	margin: 5px;
	}



.social-icon:hover {
	background-color: #CB6E56;
	border-radius: 100%;
	width: 25px;
}


#social {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 50px;
}


.copyright {
	text-align: center;
}


