
/*
try these 
@media only screen and (min-width: 320px) and (max-width: 479px){ ... } 
smart phone

@media only screen and (min-width: 480px) and (max-width: 767px){ ... } 
could be a large phone or small tablet?

@media only screen and (min-width: 768px) and (max-width: 991px){ ... } 
samsung galaxy tab likely 600? or 800.

@media only screen and (min-width: 992px) and (max-width: 1999px){ ... } 
desktop?

*/

@media (max-width: 800px){

#logo {
	margin: 0px auto;
	height: auto;
}

a.logo {

}

h4 {
  font-size: 2em;
  letter-spacing: 2px;
  color: #718294;
  padding: 0px;
}

#subhead {  
  font-size: 1.25em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  color: #718294;
  font-weight: 300;
}


header {
	padding: 0px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  margin: center;
  padding: 0 35px;
}


.main-nav {
 background-color: none;
 padding: 0px 10px;
 justify-content: center;
}


p {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  text-align: left;
  padding: 0px 5px ;
}


#biopic {
 margin: auto;
 max-width: 100%;
 margin-top: 0px;
 padding: 0px ;
}


#about {
margin: auto;
}


#bio{
  padding: 0px 10px ;
}


.soundcloud {
  justify-content: center;
  margin: 0px 0px 10px 0px;
}



.bandcamp {
  margin: 20px 0px;
  background-color: #f2f2f2;
  flex-direction: column;
  /*
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
*/

} 


 #gallery {

 -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  margin: 10px 10%;
  justify-content: space-around;
  margin: 5%;
 }


.album {
  max-width: 400px;
  width: 40%;
  height: auto;
}












/* SMARTPHONE 
(min-width: 320px) and (max-width: 479px) */
/* 480px is the breakpoint for smartphones in landscape mode */


@media screen and (max-width: 480px) {
	#gallery {
}


#logo {
  padding: 0;

}

.album {
  width: 100%;
  height: auto;
}

.soundcloud {
 margin: 10px;
}

iframe {
  max-width: 100%;

}

#events {
  max-width: 100%;
  height: auto;
}

h2 {
  padding: 10px;
}


#subhead {  
  margin: auto;  
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  color: #718294;
  font-weight: 300;
  padding: 0px 0 10px 0 ;
}

.main-nav {
 padding: 0 10px;
 justify-content: center;
font-size: .825em;

}


.navigation {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  margin: auto;
  padding: 0 10px;
}


nav ul {
  margin: auto;  
}

ul {
  list-style: none;
  padding: 0;
}

/* page links */








/*************************************

THIS SECTION FOR TABLET Portrait

*************************************/



@media screen and (min-width: 481px) and (max-width: 768px) {
	
#subhead {  
  margin: auto;  
  font-size: 1.5em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  color: #718294;
  font-weight: 300;
}

.main-nav {
 padding: 10px;
 justify-content: center;
font-size: .825em;
}


nav ul {
  margin: auto; 
  padding-top: 10px; 
}

/*************************************

THIS SECTION FOR TABLET landscape

*************************************/


@media screen and (max-width: 900px) {


}




@media screen and (min-width: 768px) {

nav {
	font-size: 1.125em;
}


h1 { 
	font-size: 2.5em;
}

h2 {
	font-size: 1.25em;
	margin-bottom: 10%;
}

.navigation {
  display: flex;
  padding: 0 0 0 35px;
}


main-nav {
 justify-content: center;
}












/*************************************

THIS SECTION FOR DESKTOP

/* 660px is the breakpoint for large tablets and normal sized desktops 
*************************************/


@media screen and (min-width: 900px){


	